
<h2></h2>

<head>
    <title>ThermoFisher</title>
    <style type="text/css">
    </style>
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/main.css?v=5" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/canvasjs.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="~/js/gauge.min.js"></script>
    <link href="~/css/simple-sidebar.css" rel="stylesheet" />
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>

<div class="navbar navbar-inverse navbar-fixed-top" style="margin-top:0px">
    <div class="container">
        <div class="col-xs-12" style="background-color:#ffffff">
            <div class="container1" style="background-color:#ffffff;padding-top:20px;padding-bottom:10px;">
                <img src="~/Image/thermo-fisher-logo-retina.png" width="160" height="39" />
                <span style="margin-left:5px"><img src="~/Image/sidebar.png" /></span>
                <span style="margin-left:5px">
                    <img src="~/Image/Aeriksa%20logo.png" width="160" height="39" />
                </span>
            </div>
        </div>
    </div>
</div>

<div id="wrapper">
    <div class="container1">
        <div class="row fixedwidth">
            <div class="form-horizontal" style="margin-top:20%">
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-md-offset-4 col-xs-4">
                        <div style="font-weight:bold">Email</div>
                        <input type='text' class="form-control" id='UseridInput' style="border-radius:0px;height:30px">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-xs-4">
                        <div style="font-weight:bold">Password</div>
                        <input type='password' class="form-control" id='PasswordInput' style=" margin-bottom:0px;border-radius:0px;height:30px">
                        <label for="a" id="lblError" style="font-weight: 500;margin-left:50px; font-size: 14px; color: red;"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-4">
                        <div> <input type="button" value="Sign In >" class="btn btn-danger" id="btnSend" style="background-color: #ee3134;" /></div>

                        @*<hr style="color: white; border-top: 2px solid #eee;" />*@
                        <br />
                        <div><a id="forgorpassword" style="color:#000000;font-weight:600; cursor:pointer">Forgot password?</a></div>
                        <div><a id="createanaccount" style="color: #000000; font-weight: 600;  cursor: pointer; ">Create an account <strong>></strong></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // function authDataCallback(authData) {
        //     if (authData) {
        //         console.log("User " + authData.uid + " is logged in with " + authData.provider);
        //     } else {
        //         console.log("User is logged out");
        //     }
        // }

        //// var ref = Firebase("https://ariska.firebaseio.com/Feeds");
        // // var myDataRef = new Firebase('https://ariska.firebaseio.com/Airquality');
        // var myDataRef = new Firebase('https://ariska.firebaseio.com/');
        // myDataRef.onAuth(authDataCallback);

        var ref = new Firebase("https://ariska.firebaseio.com/");
        //ref.createUser({
        //    email: "admin@motifworks.com",
        //    password: "motifworks"
        //}, function (error, userData) {
        //    if (error) {
        //        console.log("Error creating user:", error);
        //    } else {
        //        console.log("Successfully created user account with uid:", userData.uid);
        //    }
        //});

        //var ref = new Firebase("https://ariska.firebaseio.com/");
        //ref.authWithPassword({
        //    email: "admin@motifworks.com",
        //    password: "motifworks"
        //}, function (error, authData) {
        //    if (error) {
        //        console.log("Login Failed!", error);
        //    } else {
        //        console.log("Authenticated successfully with payload:", authData);
        //    }
        //});


        var ref = new Firebase("https://incandescent-fire-5051.firebaseio.com");
        // var url = window.location.origin;

        function SendMessage() {
            var userid = $('#UseridInput').val();
            var password = $('#PasswordInput').val();
            '<%Session["UserName"] = "' + userid + '"; %>';
            // @Session["test"] = userid ;
            var url = window.location.origin;
            ref.authWithPassword({
                email: userid,
                password: password
            }, function (error, authData) {
                if (error) {
                    $('#lblError').text('Invalid Userid/Password');
                    console.log("Login Failed!", error);
                } else {

                    // $.getScript("/Home/AQIDashboard");
                    window.location = url + '/' + 'Home/' + 'AQIDashboard?username=' + userid;
                    console.log("Authenticated successfully with payload:", authData);
                }
            });
        }
        function ForgotPassword() {

            ref.resetPassword({
                email: $('#UseridInput').val(),
            }, function (error) {
                if (error) {
                    switch (error.code) {
                        case "INVALID_USER":
                            $('#lblError').text('Please enter a valid Username.');
                            console.log("The specified user account does not exist.");
                            break;
                        default:
                            console.log("Error resetting password:", error);
                    }
                } else {
                    $('#lblError').text('Password reset email sent successfully!');
                    console.log("Password reset email sent successfully!");
                }
            });
        }
        function CreateUser() {
            var url = window.location.origin;
            ref.createUser({
                email: $('#UseridInput').val(),
                password: $('#PasswordInput').val()

            }, function (error, userData) {
                if (error) {
                    switch (error.code) {
                        case "EMAIL_TAKEN":
                            $('#lblError').text('The email is already in use.');
                            console.log("The new user account cannot be created because the email is already in use.");
                            break;
                        case "INVALID_EMAIL":
                            $('#lblError').text('Please enter a valid Email.');
                            console.log("The specified email is not a valid email.");
                            break;
                        default:
                            $('#lblError').text('Error creating user.');
                            console.log("Error creating user:", error);
                    }
                } else {
                    $('#lblError').text('user created Successfully.');
                    $('#UseridInput').val('');
                    $('#PasswordInput').val('');
                    //  window.location = url + '/' + 'Home/' + 'AQIDashboard';
                    console.log("Successfully created user account with uid:", userData.uid);
                }
            });
        }

        $("#btnSend").click(function () {
            SendMessage();
            // CreateUser();
            //  ForgotPassword();
        });
        $("#createanaccount").click(function () {
            //  SendMessage();
            CreateUser();
            //  ForgotPassword();
        });
        $("#forgorpassword").click(function () {
            //  SendMessage();
            // CreateUser();
            ForgotPassword();
        });

    });
</script>
