@{
    ViewBag.Title = "Google charts with MVC 4";
}

<head>
    <title></title>
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>

<html>
<body>
    <div>
        <div class="test" style="background-image: url(../Image/green.png); height:100px;width:100px"></div>
        @*<br /><br /><br /><br /><br /><br />
        <div id="circle"></div>*@
    </div>
</body>
</html>

