.container.print {
    margin: 10% auto 0;
    display: block;
}
#local-header {
    display: none;
}
.jumbotron {
    display: none;
}
.masthead {
    display: none;
}
body .container {
    display: none;
}
